*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.titulo1 {
	text-align: center;
}

header {
	background: #cccccc;
}

.imagem{
	padding-left: 880px
}

li {
	margin-left: 10px;
	font-size: 22px;
}

.valor {
	font-size: 22px;
	margin-left: 10px;
}

.imagem1{
	width: 40%;
	margin-left: 557px;
}
.pp {
	text-align: center;
	font-size: 22px;
	margin-left: 10px;
	margin-right: 10px;

}

.imagem3 {
	width: 40%;
	margin-left: 620px;
}

.imagem4 {
	width: 35%;
	margin-left: 5px;
}

.final {
	text-align: center;
	color: red;
	font-size: 22px;
	font-style: italic;
	background: #cccccc
}

a {
	text-decoration: none;
	color: red;
	text-transform: initial;
	font-size: 22px;

}